# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

## Introdução
In this notebook, Data Science Tools and Ecosystem are summarized.

## Introdução
In this notebook, Data Science Tools and Ecosystem are summarized.

## Linguagens de Programação em Ciência de Dados

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Linguagens de Programação em Ciência de Dados

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Bibliotecas em Ciência de Dados

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

## Bibliotecas em Ciência de Dados

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

## Data Science Tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code                  |

## Data Science Tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expression to multiply then add integers

a = (3 * 4) + 5

print(a)

Resultado da soma: 7
Resultado da multiplicação: 10

In [7]:
# This is a simple arithmetic expression to multiply then add integers

a = (3 * 4) + 5

print(a)

Resultado da soma: 7
Resultado da multiplicação: 10

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

Resultado da soma: 7
Resultado da multiplicação: 10

In [8]:
# Minutos em horas

m = 120
h = m / 60

print(f"minutos {m} em horas {h:2}")

minutos 120 em horas 2.0

# Setimo texto 
## Objetivos 
- Entender os conceitos básicos de ciência de dados.
- Aprender a usar notebooks Jupyter para análise de dados.
- Explorar linguagens populares como Python e R.
- Conhecer as principais bibliotecas e ferramentas de ciência de dados.
- Desenvolver habilidades para visualização de dados.
- Aplicar técnicas de análise exploratória e modelagem

# Setimo texto 
## Objetivos 
- Entender os conceitos básicos de ciência de dados.
- Aprender a usar notebooks Jupyter para análise de dados.
- Explorar linguagens populares como Python e R.
- Conhecer as principais bibliotecas e ferramentas de ciência de dados.
- Desenvolver habilidades para visualização de dados.
- Aplicar técnicas de análise exploratória e modelagem

# Oitavo texto
## Autor 
**Sou eu Ramon VF Reis**

# Oitavo texto
## Autor 
**Sou eu Ramon VF Reis**

In [9]:
# This is a simple arithmetic expression to multiply then add integers

a = (3 * 4) + 5

print(a)

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours:3)

SyntaxError: invalid decimal literal (1599004283.py, line 4)

In [ ]:
**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Create and format Markdown cells in a Jupyter notebook  
- Perform arithmetic operations using Python code cells  
- Convert values (e.g., minutes to hours) using Python

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Create and format Markdown cells in a Jupyter notebook  
- Perform arithmetic operations using Python code cells  
- Convert values (e.g., minutes to hours) using Python

## Author  
Ramon Viana Ferreira Dos Reis

## Author  
Ramon Viana Ferreira Dos Reis